#buttons-countainer {
    display: inline-block;
}
h1 {
    text-align: center;
    margin-bottom: 10%;
}
#accept-button {
    background-color: lightseagreen;
    margin-right: 3vw;
    color: white;
}

#quit-button {
    color: white;
}
