<div class="container">
    <mat-toolbar color="primary">
        <button routerLink="/home" mat-icon-button class="home-button">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Admin</span>
    </mat-toolbar>
    <div class="liste-menus">
        <mat-card class="menu">
            <mat-card-title>Dictionaires</mat-card-title>
            <mat-card-subtitle>Ajout/Retrait des dictionaires disponibles</mat-card-subtitle>
            <mat-card-content>
                <mat-list>
                    <mat-list-item class="dictionary" *ngFor="let dictionary of dictionaries$ | async">
                        <mat-card>
                            <mat-card-title class="dictionary-title">{{ dictionary }}</mat-card-title>
                            <mat-card-actions>
                                <button mat-button>Enlever</button>
                                <button mat-button>Éditer</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Ajouter</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="menu">
            <mat-card-title>Joueurs virtuels</mat-card-title>
            <mat-card-subtitle>Editer le nom des joueurs virtuels</mat-card-subtitle>
        </mat-card>
        <mat-card class="menu">
            <mat-card-title>Historique des parties</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card>
    </div>
</div>