<div class="container">
    <mat-toolbar color="primary">
        <button routerLink="/home" mat-icon-button class="home-button">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Admin</span>
    </mat-toolbar>
    <div class="liste-menus">
        <mat-card class="menu-dict">
            <mat-card-title>Dictionaires</mat-card-title>
            <mat-card-subtitle>Ajout/Retrait des dictionaires disponibles</mat-card-subtitle>
            <mat-card-actions>
                <button mat-button>Ajouter</button>
                <button mat-button>Réinitialiser</button>
            </mat-card-actions>
            <mat-card-content>
                <ul>
                    <li class="dictionary" *ngFor="let dictionary of dictionaries$ | async">
                        <mat-card>
                            <mat-card-title class="dictionary-title">{{ dictionary }}</mat-card-title>
                            <mat-card-actions>
                                <button mat-button>Supprimer</button>
                                <button mat-button>Modifier</button>
                            </mat-card-actions>
                        </mat-card>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card class="menu-bot">
            <mat-card-title>Joueurs virtuels</mat-card-title>
            <mat-card-subtitle>Modifier le nom des joueurs virtuels</mat-card-subtitle>
        </mat-card>
        <mat-card class="menu-hist">
            <mat-card-title>Historique des parties</mat-card-title>
            <mat-card-content>
                <app-game-history-table></app-game-history-table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
