<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>
    <ng-container matColumnDef="gameDuration">
        <th mat-header-cell *matHeaderCellDef>Durée</th>
        <td mat-cell *matCellDef="let element">{{ element.gameDuration }}</td>
    </ng-container>

    <ng-container matColumnDef="namePlayer1">
        <th mat-header-cell *matHeaderCellDef>Joueur 1</th>
        <td mat-cell *matCellDef="let element">{{ element.namePlayer1 }}</td>
    </ng-container>

    <ng-container matColumnDef="scorePlayer1">
        <th mat-header-cell *matHeaderCellDef>Score du joueur 1</th>
        <td mat-cell *matCellDef="let element">{{ element.scorePlayer1 }}</td>
    </ng-container>

    <ng-container matColumnDef="namePlayer2">
        <th mat-header-cell *matHeaderCellDef>Joueur 2</th>
        <td mat-cell *matCellDef="let element">{{ element.namePlayer2 }}</td>
    </ng-container>

    <ng-container matColumnDef="scorePlayer2">
        <th mat-header-cell *matHeaderCellDef>Score du joueur 2</th>
        <td mat-cell *matCellDef="let element">{{ element.scorePlayer2 }}</td>
    </ng-container>

    <ng-container matColumnDef="gameMode">
        <th mat-header-cell *matHeaderCellDef>Mode</th>
        <td mat-cell *matCellDef="let element">{{ element.gameMode }}</td>
    </ng-container>

    <ng-container matColumnDef="isSurrender">
        <th mat-header-cell *matHeaderCellDef>Partie abandonnée?</th>
        <td mat-cell *matCellDef="let element">{{ element.isSurrender }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
