<mat-stepper linear #stepper>
    <mat-step [stepControl]="formGroup">
        <mat-card>
            <form [formGroup]="formGroup">
                <ng-template matStepLabel>Entrez votre nom</ng-template>
                <mat-form-field class="parameter-container" appearance="fill">
                    <mat-label>Veuillez saisir votre nom</mat-label>
                    <input matInput formControlName="name" placeholder="Nom" />
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button matStepperNext color="primary" type="submit" id="confirm-name" class="centered">Confirmer</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Rejoindre une partie</ng-template>
        <h3>Rooms:</h3>
        <mat-list>
            <mat-list-item *ngFor="let room of roomList$ | async">
                <h2 class="room-name">{{ room.gameOptions.hostname }}</h2>
                <button
                    mat-raised-button
                    matStepperNext
                    color="primary"
                    class="button"
                    [disabled]="(pendingRooms$ | async) !== undefined"
                    *ngIf="(pendingRooms$ | async) !== room; else elseCancelButton"
                    (click)="joinGame(room)"
                >
                    Rejoindre
                </button>
                <ng-template #elseCancelButton>
                    <button mat-raised-button matStepperNext color="warn" class="button" (click)="cancelJoin(room)">
                        <mat-spinner diameter="25" class="spinner"></mat-spinner><span class="cancel">Annuler</span>
                    </button>
                </ng-template>
            </mat-list-item>
        </mat-list>
    </mat-step>
</mat-stepper>
