.centered {
    left: 25%;
}
.mat-success {
    background-color: green;
    color: #fff;
}

.room-name {
    display: contents;
}

.button {
    width: 120px;
    height: 36px;
}

.cancel {
    position: absolute;
    right: 18px;
    top: 0px;
}
