.letter {
    text-anchor: middle;
    dominant-baseline: middle;
    fill: black;
    font-size: 1.5em;
    font-weight: bold;
}

.value {
    text-anchor: end;
    fill: black;
    font-size: 1rem;
}
