.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 56px 1fr 75px;
    width: 100vw;
    height: 100vh;
}

.game-toolbar {
    grid-column: 1 / 4;
    grid-row: 1;
    height: 56px;
}

.game-board {
    min-height: 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.game-rack {
    background-color: green;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.game-chatbox {
    background-color: red;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.game-tools {
    background-color: blue;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}
