// .container {
//     height: 100%;
//     display: flex;
// }

// .play-area-container {
//     overflow: auto;
//     flex: 1 1 auto;
// }

// .play-area {
//     display: grid;
//     width: min-content;
//     outline: none;
// }

.container {
    display: flex;
    flex-direction: row;
}

.game-area {
    display: flex;
    flex-direction: column;
}

.chevalet {
    border: solid;
    height: 100px;
}

.game-rightSide {
    display: flex;
    flex-direction: column;
}

.chatbox {
    border: solid;
    width: 100px;
    height: 100px;
}

.tools {
    border: solid;
    height: 100px;
}
