<div class="container">
    <mat-toolbar color="primary">
        <button routerLink="/home" mat-icon-button class="home-button">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Mode de jeu</span>
    </mat-toolbar>

    <div class="leaderboard_container">
        <div class="leaderboard_classic">
            <h1>Mode Classique</h1>
            <span><strong>Scores</strong><span>
            <span><strong>Nom d'utilisateur</strong><span>
        </div>
        <div class="leaderboard_log2990">
            <h1>Mode LOG2990</h1>
            <span><strong>Scores</strong><span>
            <span><strong>Nom d'utilisateur</strong><span>
        </div>
    </div>
</div>
