<mat-card>
    <mat-dialog-content>
        <div>
            <h1>Configuration des paramètres de la partie</h1>
        </div>
        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="parameter-countainer" appearance="fill">
                <mat-label>Veuillez saisir votre nom</mat-label>
                <input matInput formControlName="name" placeholder="Nom" />
            </mat-form-field>

            <div id="timer-countainer">
                <p class="text-countainer">Temps par tour</p>
                <div id="timer2-countainer">
                    <button type="button" (click)="decrementTime()">-</button>
                    <div #time id="time">{{ timer }}</div>
                    <button type="button" (click)="incrementTime()">+</button>
                </div>
            </div>

            <mat-form-field class="parameter-countainer" appearance="fill">
                <mat-label>Dictionnaire</mat-label>
                <mat-select formControlName="selectedDictionnary">
                    <mat-option *ngFor="let dictionnary of dictionnaries; index as id" value="{{ dictionnary }}">{{ dictionnary }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-card-actions>
                <button
                    mat-raised-button
                    matStepperNext
                    color="primary"
                    type="submit"
                    id="confirm-settings"
                    [disabled]="!settingsForm.valid"
                    routerLink="/waitingRoom"
                >
                    Confirmer paramètres
                </button>
            </mat-card-actions>
        </form>
    </mat-dialog-content>
</mat-card>
