.parameter-countainer{
    display: flex;
    flex-direction: column;
    position:relative;
}

#timer-countainer{
    width: 100%;
    margin-bottom: 5%;
    padding: 5% 2% 4%;
    border-radius: 5px;
    display: inline-flex;
    flex: 1 1 auto;
}

#timer2-countainer{
    text-align: right;
    width: 25%;
}

#timer2-countainer button{
    margin-right : 5%;
    margin-left: 5%;
}

#time{
    display: inline-flex; 
}

#dec{
    margin-right: auto;
}

#confirm-settings{
    position: absolute;
    right: 0;
    bottom: 0;
}

#confirm-settings{
    margin-top: 5%;
    margin-left: 5%;
}