<svg:g [attr.transform]="'translate(' + pos.x * 50 + ' ' + pos.y * 50 + ')'">
    <g *ngIf="(selectedPos$ | async)?.x === pos.x && (selectedPos$ | async)?.y === pos.y">
        <rect width="50" height="50" class="selected"></rect>
        <text *ngIf="(selectedOrientation$ | async) === 'h'" x="25" y="25" class="cell-text">→</text>
        <text *ngIf="(selectedOrientation$ | async) === 'v'" x="25" y="25" class="cell-text">↓</text>
    </g>
    <rect width="50" height="50" (click)="click()" opacity="0" class="base"></rect>
</svg:g>
